@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.md-show {
  display: none;
}

@media (max-width: 767px) {
  .md-show {
    display: block;
  }
  .md-hide {
    display: none;
  }
}
.text__motion {
  width: 230px;
  height: 66px;
}
.text__motion text {
  font-family: "InkLipquid";
  font-size: 60px;
  font-weight: bold;
  fill: transparent;
  stroke-width: 1;
  stroke-dasharray: 500px;
  animation: stroke 2.5s forwards;
}

svg text:nth-child(1) {
  animation-delay: 1.5s;
}
svg text:nth-child(2) {
  animation-delay: 2s;
}
svg text:nth-child(3) {
  animation-delay: 2.5s;
}
svg text:nth-child(4) {
  animation-delay: 3s;
}
svg text:nth-child(5) {
  animation-delay: 3.5s;
}
svg text:nth-child(6) {
  animation-delay: 4s;
}

@keyframes stroke {
  0% {
    stroke: #0176ad;
    stroke-width: 1;
    stroke-dashoffset: 500px;
  }
  70% {
    fill: #0176ad;
  }
  98% {
    stroke: #0176ad;
    stroke-width: 0;
  }
  100% {
    fill: #0176ad;
    stroke-dashoffset: 0;
  }
}
@keyframes drawText {
  to {
    stroke-dashoffset: 0;
  }
}
.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999em;
}

.menuActive span {
  display: inline;
  color: #005bab;
  position: relative;
}
.menuActive span::after {
  content: "";
  background-color: #005bab;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-10px, -4px);
  width: 6px;
  height: 6px;
}

.black {
  display: none;
}

body:has(#header.scrolled) .btn-m-open .white {
  display: none;
}
body:has(#header.scrolled) .btn-m-open .black {
  display: block;
}

#header {
  background-color: transparent;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
  will-change: auto;
}
#header.scrolled {
  background-color: #fff;
  border-color: #ddd;
}
#header.scrolled .gnb > li > a {
  color: #000;
}
#header.scrolled .header-logo a {
  transition: background 0.5s;
  background-image: url("../movie/logo-black.png");
}
@media (max-width: 768px) {
  #header .btn-m-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#header .header-logo a {
  display: block;
  width: 265px;
  height: 60px;
  background: url("../movie/logo-white.png") no-repeat 0 0;
  background-size: 100% auto;
}
@media (max-width: 1000px) {
  #header .header-logo a {
    width: 23vw;
    height: 50px;
  }
}
@media (max-width: 768px) {
  #header .header-logo a {
    width: 171px;
    height: 40px;
  }
}

.wraps {
  position: relative;
}

.movie__timeline-01 {
  opacity: 0;
  transform: translateY(70px);
}

.movie__timeline-02 {
  opacity: 0;
  transform: translateY(70px);
}

.movie__timeline-03 {
  opacity: 0;
  transform: translateY(70px);
}

.movie__timeline-04 {
  opacity: 0;
}

.active .movie__timeline-05,
.active .movie__timeline-06,
.active .movie__timeline-07 {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.active .movie__timeline-05 {
  transition-delay: 0s;
}
.active .movie__timeline-06 {
  transition-delay: 0.25s;
}
.active .movie__timeline-07 {
  transition-delay: 0.5s;
}

.movie__timeline-05,
.movie__timeline-06,
.movie__timeline-07 {
  position: absolute;
  opacity: 0;
  transform: scale(0);
}

.movie__timeline-05 {
  top: -60px;
  left: -35px;
}
@media (max-width: 768px) {
  .movie__timeline-05 {
    top: -30px;
    left: -22px;
  }
  .movie__timeline-05 img {
    width: auto;
    height: 16px;
  }
}

.movie__timeline-06 {
  top: -55px;
  left: -10px;
}
@media (max-width: 768px) {
  .movie__timeline-06 {
    top: -29px;
    left: -10px;
  }
  .movie__timeline-06 img {
    width: auto;
    height: 20px;
  }
}

.movie__timeline-07 {
  bottom: -10px;
  right: -45px;
}
@media (max-width: 768px) {
  .movie__timeline-07 {
    top: -15px;
    left: -2px;
    bottom: inherit;
    right: inherit;
  }
  .movie__timeline-07 img {
    width: auto;
    height: 11px;
  }
}

.obj {
  opacity: 0;
}
.obj img {
  transform: scale(0);
}

.movie__mobile--bg {
  display: none;
  position: relative;
}
.movie__mobile--bg img {
  width: 100%;
  vertical-align: top;
}

.movie__container {
  position: relative;
  width: 100%;
  height: 980px;
  background: url("../movie/bg.png") no-repeat 50% 0;
  background-size: cover;
}
@media (max-width: 768px) {
  .movie__container {
    background: none;
    height: auto;
  }
  .movie__container .movie__mobile--bg {
    display: block;
  }
}
.movie__inner {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.movie__title {
  padding-top: 220px;
}
@media (max-width: 768px) {
  .movie__title {
    position: absolute;
    padding-top: 0;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translateY(-60%);
  }
}
.movie__title--item01 {
  padding-bottom: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .movie__title--item01 {
    padding-bottom: 15px;
  }
}
.movie__title--item01 .text {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (max-width: 768px) {
  .movie__title--item01 .text {
    font-size: 5.2vw;
  }
}
.movie__title--item01 .text .object--1 {
  transform: translateX(calc((100% + 150px) * -1));
  top: -35px;
  left: 0;
}
@media (max-width: 768px) {
  .movie__title--item01 .text .object--1 {
    transform: translate(-283%, -50%);
    top: 0;
  }
  .movie__title--item01 .text .object--1 img {
    height: 25px;
  }
}
.movie__title--item01 .text .object--2 {
  left: 0;
  transform: translateX(calc((100% + 25px) * -1)) translateY(-100%);
  top: 0;
}
@media (max-width: 768px) {
  .movie__title--item01 .text .object--2 {
    transform: translate(-91%, -75%);
  }
  .movie__title--item01 .text .object--2 img {
    width: 48px;
  }
}
.movie__title--item02 span {
  display: inline-block;
  position: relative;
}
@media (max-width: 768px) {
  .movie__title--item02 span {
    margin-left: 16.66vw;
    margin-right: 16.66vw;
  }
  .movie__title--item02 span .movie__timeline-02 img {
    width: 100%;
  }
}
.movie__title--item02 .object--3 {
  transform: translateX(calc((100% + 40px) * -1));
  top: 60px;
  left: 0;
}
@media (max-width: 768px) {
  .movie__title--item02 .object--3 {
    transform: translate(-12vw, 100%);
    top: 0;
  }
  .movie__title--item02 .object--3 img {
    height: 35px;
  }
}
.movie__title--item02 .object--4 {
  transform: translateY(-95%) translateX(50%);
  top: 0;
  right: 0;
  opacity: 1;
}
.movie__title--item02 .object--5 {
  transform: translateX(calc(100% + 45px));
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .movie__title--item02 .object--5 {
    transform: translate(200%, -100%);
  }
  .movie__title--item02 .object--5 img {
    height: 22px;
  }
}
.movie__title--item03 {
  text-align: right;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .movie__title--item03 {
    margin-left: 16.66vw;
    margin-right: 16.66vw;
  }
  .movie__title--item03 svg {
    width: 135px;
    height: 33px;
  }
}
.movie__title--item03 span {
  position: relative;
  display: inline-block;
}
.movie__title--item03 .object--6 {
  transform: translateX(calc((100% + 10px) * -1)) translateY(30px);
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .movie__title--item03 .object--6 {
    transform: translate(-150%) translateY(60%);
  }
  .movie__title--item03 .object--6 img {
    width: 22px;
  }
}
.movie__title--item04 {
  padding-top: 50px;
}
@media (max-width: 768px) {
  .movie__title--item04 {
    padding-left: 16.66vw;
    padding-right: 16.66vw;
    padding-top: 25px;
  }
}
.movie__title--item04 span {
  position: relative;
  display: block;
}
.movie__title--item04 .movie__timeline-03 {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7fcd71;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  max-width: 590px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
  color: #296e0e;
  gap: 0 8px;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .movie__title--item04 .movie__timeline-03 {
    font-size: 3.6vw;
    padding: 6px 0;
    gap: 0 4px;
  }
  .movie__title--item04 .movie__timeline-03 i {
    height: 11px;
  }
  .movie__title--item04 .movie__timeline-03 i img {
    vertical-align: top;
    height: 100%;
  }
}
.movie__title--item04 .object--7 {
  transform: translateX(100%);
  right: 10px;
  bottom: -25px;
  opacity: 0;
}
@media (max-width: 768px) {
  .movie__title--item04 .object--7 {
    right: 5px;
    bottom: -5px;
  }
  .movie__title--item04 .object--7 img {
    height: 33px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 100;
  }
  90% {
    stroke-dasharray: 100, 0;
  }
  100% {
    stroke-dasharray: 100, 0;
    fill: #2388b7;
  }
}
.obj {
  position: absolute;
}

.cloud {
  position: absolute;
}

.cloud--01 {
  left: 0;
  top: 100px;
  transform: translateX(-50%);
  animation: cloud 6s infinite;
}
@media (max-width: 768px) {
  .cloud--01 {
    opacity: 0;
    visibility: hidden;
  }
}

.cloud--02 {
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  width: 19vw;
  display: none;
}

@keyframes cloud {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.paper {
  position: relative;
  z-index: 2;
  margin-top: -75px;
  padding-top: 150px;
  background: url("../movie/bg2.png") no-repeat 50% 0;
  background-size: cover;
}
@media (max-width: 768px) {
  .paper {
    margin-top: 0;
    padding-top: 38px;
    background-image: url("../movie/bg2-m.png");
  }
  .paper .text {
    padding-left: 13.88%;
    padding-right: 13.88%;
  }
}
.paper .text {
  text-align: center;
}
.paper .text img {
  max-width: 100%;
  vertical-align: top;
}

.extend_frames, .onload .movie__timeline-04, .onload .movie__timeline-03, .onload .movie__timeline-02, .onload .movie__timeline-01 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
  transition-duration: 1s;
  transition-property: all;
  will-change: auto;
}

.onload .movie__timeline-01 {
  transition-delay: 0s;
}
.onload .movie__timeline-02 {
  transition-delay: 0.5s;
}
.onload .movie__timeline-03 {
  transition-delay: 3.5s;
}
.onload .movie__timeline-04 {
  transition-delay: 1.5s;
}
.onload .obj {
  opacity: 1;
  visibility: visible;
  transition-duration: 1s;
  transition-property: all;
  will-change: auto;
  transition-delay: 3.7s;
}
.onload .obj img {
  transition-duration: 1s;
  transition-property: all;
  will-change: auto;
  transition-delay: 3.7s;
  transform: scale(1);
}/*# sourceMappingURL=movie.css.map */